.container {
    height: 40px;
    line-height: 50px;
    position: relative;
    margin: 10px; /* Added space between elements */
    margin: 0 auto;
}

.word {
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  transition-property: width;
  transition-timing-function: linear;
}
.word > span {
  display: inline-block;
  transition: width 0.5s ease;
  width: min-content
}
